figure.compCaptionedImage {
  flex-grow: 0;
  background-color: #000000ff;
  border: 1px #ffffffff solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  float: right;
}

figure.compCaptionedImage > figcaption {
  color: #ffffffff;
  font-family: Octarine-Light;
  margin: 5px;
}

figure.compCaptionedImage > img {
  margin: 5px;
}