header {
    background-color: black;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #ffffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50px;
}

.subtitleLeft, .subtitleRight, .subtitleCenter {
    position: relative;
    text-align: center;
    transition: 1s;
}

.subtitleLeft {
    left: -200px;
    opacity: 0;
}

.subtitleRight {
    left: 200px;
    opacity: 0;
}

.subtitleCenter {
    left: 0px;
    opacity: 1;
}