/* FONTS */

@font-face {
  font-family: Octarine-Light;
  src: url('../fonts/Octarine-Light.otf');
}

@font-face {
  font-family: Octarine-Bold;
  src: url('../fonts/Octarine-Bold.otf');
}

h1, h2 {
	font-family: 'Octarine-Bold';
	color: #ffffffff;
}

p {
  font-family: Octarine-Light;
  font-size: 1.3em;
  margin: 0px;
}

.mainTitle {
  padding: 15px;
}

.mainTitle > h1, .mainTitle > h2 {
  display: inline;
}

.mainTitle > h1 {
  font-size: 4em;
}

header {
  background-color: #000000ff;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 5px;
  position: sticky;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid #ffffffff;
}

nav a {
  cursor: default;
}

nav button {
  color: #000000ff;
  font-family: 'Octarine-Light';
  border: 0px;
  background-color: #ddddddff;
  margin: 5px;
  padding: 5px;
  transition: 0.25s;
  outline: 1px #ddddddff solid;
  outline-offset: -1px;
}

nav:hover button {
  background-color: #ffffffff;
}

nav button:hover {
  outline-offset: 2px;
}

nav button:active {
  background-color: red;
}

body {
  background-color: #202020ff;
}

.dsBlock {
  background-color: #000000ff;
  color: #ffffffff;
  border: 1px solid #ffffffff;
  width: 75%;
  align-self: center;
  justify-content: center;
  transition: 1s;
  margin: 5px;
  padding: 10px;
}

.dsBlockTitle1 {
  background-color: #000000ff;
  color: #ffffffff;
  border: 1px solid #ffffffff;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
  justify-content: center;
  transition: 1s;
  margin: 5px;
  align-items: center;
  padding: 10px;
}

.dsFloatRight {
  float: right;
  position: relative;
}

.invis {
  opacity: 0;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}